<header>
  <p>{{title}}</p>
</header>
<main>
  <div class="line"></div>
  <app-shabloni></app-shabloni>
  <div class="line"></div>
  <app-interpolyaciya></app-interpolyaciya>
  <div class="line"></div>
  <app-bindings></app-bindings>
  <div class="line"></div>
  <app-event-bindings></app-event-bindings>
  <div class="line"></div>
  <app-two-way-bindings></app-two-way-bindings>
  <div class="line"></div>
  <app-directive-style></app-directive-style>
  <div class="line"></div>
  <app-directive-class></app-directive-class>
  <div class="line"></div>
</main>
